*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 10px;
    padding: 5px;
}
#Test{
    width: 100%;
}
button{
    background-color: green;
    cursor: pointer;
    width: 40%;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border: none;
    width: 40%;
}
input{
    display: block;
    text-align: center;
    margin: 10px 10px;
    padding: 10px 5px;
    width: 80%;
    background-color: aliceblue;
    color: black;
    border-radius: 20px;
    border: none;
    padding: 15px 1px;
}
.NavBar{
    background-color: rgb(92, 47, 237);
    margin-bottom: 10px;
    border-radius: 20px;
    color: white;
}
ul{
    display: flex;
    justify-content: space-around;
   
}
ul>li{
    font-size: small;
    list-style: none;
    margin: 1%;
    padding: 1%;
    border-radius: 40px;
    font-weight: bolder;
    cursor: pointer;   
}
ul>li:hover{
box-shadow: 3px 1px 10px 3px;
color: black;
font-weight: 600;
background-color: aliceblue;
}
ul>li::selection{
    color: orangered;
    
}
.bodycontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
   flex-wrap: wrap;
    
}
.bodycontent>div{
    min-height: 400px;
    width: 30%;
    box-shadow: 5px 5px 20px  lightgray;
    padding: 25px 20px;
    border-radius: 10px;
    margin: 20px 0px;
}
/* .bodycontent>div:hover{
    box-shadow: 5px 5px 20px  rgb(101, 98, 98);
} */
.CreateLocCard>span{
    display: block;
    font-size: larger;
    font-weight: 800;
    text-align: center;
    font-weight: bolder;
}
#Callable>h2{
     text-align: center;
    box-shadow: 1px 1px 5px lightgray;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: orange;
    padding: 5px 0px;
}
.func{
   border: 1px solid;
   display: inline-block;
   padding: 5px 10px;
   font-weight: bold;
   background-color: green;
   color: white;
   border-radius: 20px;
   text-align: center;
   
}
.func>i{
    cursor: pointer;

}
.Addedfunc{
    width: 90%;
    margin: 10px 0px;
    
}
.Addedfunc>span{
    padding: 10px 5px;
    font-weight: bolder;
    width: 75%;
    text-align: center;
    background-color: blue;
    color: white;
    font-size: small;
    border-radius: 20px;
    display: inline-block;
}
.Addedfunc>i{
    padding: 10px 5px;
    width: 10%;
    
    
    color:red ;
    
    text-align: center;
    border-radius: 10px;
}
.Addedfunc>i:hover{
    cursor: pointer;
}
#Methods>h2{
    text-align: center;
    box-shadow: 1px 1px 5px lightgray;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: chartreuse;
    padding: 5px 0px;
}
#TestData>h2{
    text-align: center;
    box-shadow: 1px 1px 5px lightgray;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: cadetblue;
    padding: 5px 0px;
}
.Data{
    margin-bottom: 10px;
}
.Data>span{
    padding: 5px;
    justify-content: center;
    box-shadow: 1px 1px 10px lightgray;
    border-radius: 10px;
    
}
.Data>span:first-child{
color: cornflowerblue;
}
.Data>span:last-child{
color: darkgoldenrod;
}